@include desktop{
    .grid{
        display: grid;
        column-gap: 1rem;
    }
    .grid--cls2{
        grid-template-columns: 1fr 1fr;
    }
    .grid--cls3{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
       
        @include desktopLarge{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: none;
        }
    }
    .grid--cls3--simple{
            grid-template-columns: 3fr auto 1fr;
        }
    .grid--cls5{
        grid-template-columns: repeat(5,1fr);
        
    }
}