main{
   
    padding:1rem;
    zoom: 0.9;
    text-align: center;
  
    @include desktop{
        zoom: 1;
        padding-inline: 2rem;
        @include desktopLarge{
            padding-inline: 4rem;
            text-align: left;
        }
    }
}
.home{
    padding-top: 7rem;
}
.home,.about,.security,.app{
 
    &__img{
        width: 80%;
        grid-area: 1/2/1/3;
    }
    &__content{
        margin-block: 2rem;
         align-self: center;
       justify-self: center;

        p{
            margin-block: 1rem;
            // width: 50ch;
        }
    }
}