main{
   
    padding:1rem;
    zoom: 0.9;
    @include desktop{
        zoom: 1;
    }
    @include desktopLarge{
        padding-inline:5rem;
    }
}

.home,.about,.security,.app{
    margin-top: 4rem;
    &__img{
        width: 100%;
        grid-area: 1/2/1/3;
    }
    &__content{
        margin-block: 2rem;
        align-self: center;
    justify-self: center;

        p{
            margin-block: 1rem;
            width: 50ch;
        }
    }
}