 .expandheader{
     @media (max-width:$desktop){
         height: 50vh;
     }
 }
.nav{
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow;
    padding: 1rem ;
    @include desktopLarge{
        justify-content: space-around;
    }
    flex-wrap: wrap;
    &__title{
        margin-top: .3rem;
    }
    &__hamburger{
        margin-top: 5px;
        height: 1.5em;
        width:1.5rem;
        @include desktop{
            display: none;
        }
    }
    &__collapsible{
        width: 100%;
        svg{
            height: 1.3rem;
        }
          display: none;
          a{
              transition: color .5s linear;
          }
           a:hover{
            color: #606060;
          }

        @include desktop{
            width: auto;
            display: block;
            svg{
                margin-top: 9px;
                margin-left: 1rem;
            }
        }
    }
    &__list{
        @include desktop{
            display: inline-flex;
            position: relative;
            bottom: 11%;
            li{
                margin-inline:1.2rem;
            }
          
        }
    }
    &__btn{
        display: none;
        @include desktopLarge{
            display: block;
        }
    }
    svg,&__btn,&__hamburger{
        cursor: pointer;
    }
    // collapsible
    @media (max-width:$desktop){

        .showList{
            display: flex;
            justify-content:space-evenly;
            position: absolute;
            box-shadow: $box-shadow;
            top:4rem;
            padding-left: 4rem;
            background-color: white;
            border-radius: 40px;
          margin-top: 0.5rem;
            width: 80%;
             left: 0; 
             right: 0; 
           margin-inline: auto;
            ul{
                text-align: center;
            }
            li{
                margin-block: 1.7rem;
                &:last-child{
                    margin-left: 12px;
                }
            }
            svg{
                margin-top: 1.6rem;
            }
        }
    }
    // fixed nav
}
.fixNav{
    position: fixed;
    z-index: 999999;
    left: 0;
    background-color: white;
    right: 0;
}