

// typography
h1,h2,h3,h4,h5,h6{
    color: $textHeading;
    text-transform: capitalize;
    
}
h1{
    font-size: 1.9rem;
    line-height:3rem;
    @include tablette{
        font-size: 2.2rem;
    }
    @include desktop{
        font-size: 2.7rem;
    }
}
h2{
    font-size: 1.6rem;
    @include tablette{
        font-size: 1.7rem;
    }
   
}
h3{
    font-size: 1.3rem;
}
p{
    color: $textColor;
    font-size: 1.1rem;
    line-height: 1.4;
}