@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



$textColor:#939393;
$textHeading:#2c2a25;
$btnColor:#000;
$footerBg:#fee59a;
$tablette:480px;
$desktop:800px;
$desktopLarge:1020px;
$box-shadow: 0 0 10px rgba(204, 204, 204, 0.571);
