@import './partials/variabels';
@import './partials/mixins';
@import './partials/generals';
@import './partials/typopraphy';
@import './partials/grid';
@import './partials/btn';
@import './partials/nav';
@import './partials/home';
@import './partials/about+security';
@import "./partials/services";
@import './partials/app';
.contact{
     margin-block: 7rem;

&__heading{
    text-align: center;
    @include desktop{
        text-align: left;
        margin-left: 3rem;
    }
    p{
        margin-block: 1.2rem;
    }
}
 &__footer{
     justify-self: center;
     .contact-info{
         margin-block: 0.5rem;
     }
        p,h3{
            display: inline;
        }
    }
    &__btn{
        justify-self: center;
        margin-block: 1.5rem;
    }
}